nav {
    background-color: darkblue;
    padding: 10px;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}
h1 {
    color: darkblue;
    width: auto;
    margin: 1px;
    padding: 5px; 
}

main {
    max-width: auto;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p {
    padding: 10px;
}

aside {
    width: auto;
    margin: 1px;
    padding: 5px;  
    border: 2px solid darkblue;
    background-color: lightblue;
    color: darkblue;
}

aside img {
    width: 200px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    text-align: center;
    background-color: darkblue;
    color: white;
    padding: 20px;
}